HOUSE PRICE PREDICTION

In [2]:
import pandas as pd

train_data = pd.read_csv('house_data.csv')

In [23]:
train_data.describe()

        Bedroom  Bathroom   Kitchen     Floor    Salesprice
count  7.000000       7.0  7.000000  7.000000      7.000000
mean   2.714286       2.0  1.285714  1.571429  36428.571429
std    1.496026       1.0  0.487950  0.786796  23222.526010
min    1.000000       1.0  1.000000  1.000000  10000.000000
25%    1.500000       1.5  1.000000  1.000000  22500.000000
50%    3.000000       2.0  1.000000  1.000000  30000.000000
75%    3.500000       2.0  1.500000  2.000000  45000.000000
max    5.000000       4.0  2.000000  3.000000  80000.000000

In [4]:
print(train_data)

   Bedroom  Bathroom  Kitchen  Floor  Salesprice
0        4         2        1      2       50000
1        3         2        1      1       30000
2        2         1        1      1       20000
3        1         1        1      1       10000
4        1         2        1      3       25000
5        5         4        2      2       80000
6        3         2        2      1       40000

In [5]:
train_data.head()

   Bedroom  Bathroom  Kitchen  Floor  Salesprice
0        4         2        1      2       50000
1        3         2        1      1       30000
2        2         1        1      1       20000
3        1         1        1      1       10000
4        1         2        1      3       25000

In [6]:
train_data.tail()

   Bedroom  Bathroom  Kitchen  Floor  Salesprice
2        2         1        1      1       20000
3        1         1        1      1       10000
4        1         2        1      3       25000
5        5         4        2      2       80000
6        3         2        2      1       40000

In [8]:
Home = ['Bedroom','Bathroom','Kitchen','Floor']
X = train_data[Home]
X.describe()
X.head()

   Bedroom  Bathroom  Kitchen  Floor
0        4         2        1      2
1        3         2        1      1
2        2         1        1      1
3        1         1        1      1
4        1         2        1      3

In [9]:
y = train_data['Salesprice']
print(y)

0    50000
1    30000
2    20000
3    10000
4    25000
5    80000
6    40000
Name: Salesprice, dtype: int64

In [12]:
from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor()

model.fit(X,y)

Home_model = model.predict(X)
print("Actual price of the house",y)
print("predicted price",Home_model)

Actual price of the house 0    50000
1    30000
2    20000
3    10000
4    25000
5    80000
6    40000
Name: Salesprice, dtype: int64
predicted price [50000. 30000. 20000. 10000. 25000. 80000. 40000.]

In [22]:
new_model = DecisionTreeRegressor()
new_model.fit(train_X,train_y,4)
new_predict = new_model.predict(val_X)
print(new_predict)
print(val_y)
from sklearn.metrics import mean_absolute_error

[30000. 20000.]
4    25000
3    10000
Name: Salesprice, dtype: int64